#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  cursor: pointer;
  font-size: 2rem;
  height: 3rem;
  min-width: 3rem;
}

h1 {
  color: #61dafb;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  margin: 0px 2rem;
}

.App{
  padding: 1.5em;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}